<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.givenness.backend.infrastructure.mapper.DonationPostMapper">


  <resultMap autoMapping="true" id="donationPostMap" type="DonationPost">
    <collection ofType="FileInfo" property="attachments">
      <id column="f_serial_num" property="serialNum"/>
    </collection>
  </resultMap>


  <insert id="insertPost" parameterType="DonationPost">
        INSERT INTO
        DONATION_POST(
            SERIAL_NUM,
            REG_DATE,
            POST_OWNER,
            VOLUNTEER_START_DATE,
            VOLUNTEER_END_DATE,
            ADDRESS,
            DONATION_DEADLINE_DATE,
            TITLE,
            STORY_CONTENTS)
        VALUES(
            #{serialNum},
            #{regDate},
            #{postOwner},
            #{volunteerStartDate},
            #{volunteerEndDate},
            #{address},
            #{donatingDeadlineDate},
            #{title},
            #{storyContents})
    </insert>


  <select id="selectPostList" parameterType="Pageable" resultType="DonationPost">
        SELECT
        *
        FROM DONATION_POST
    </select>


  <select id="selectOnePost" parameterType="long" resultMap="donationPostMap">
    select
      DP.serial_num,
      DP.title,
      DP.story_contents,
      DP.address,
      DP.volunteer_start_date,
      DP.volunteer_end_date,
      DP.reg_date,
      DP.donating_deadline_date,
      f.serial_num as f_serial_num,
      f.file_type,
      f.file_size,
      f.file_purpose

    from donation_post DP
      left join file_info f
        on DP.serial_num = f.post_serial_num
    where DP.serial_num = #{serialNum}
    </select>


  <update id="updatePost" parameterType="DonationPost">
        UPDATE DONATION_POST
          SET
              <if test="title != null">
                  TITLE = #{title}
              </if>
          WHERE serial_num = #{serialNum}
    </update>

    <delete id="deletePost" parameterType="int">
        DELETE FROM DONATION_POST
        WHERE serial_num = #{serialNum}
    </delete>

    <!--
    <select id="countPost" resultType="int">
        SELECT
            COUNT(*)
        FROM DONATION_POST
    </select>
    -->
</mapper>