<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.givenness.backend.infrastructure.mapper.MemberMapper">

  <resultMap autoMapping="true" id="memberAccount2" type="MemberAccount">
    <id column="serial_num" property="serialNum"/>
    <collection autoMapping="true" ofType="MemberAuthority" property="grantedAuthList">
      <id column="auth_serial_num" property="serialNum"/>
    </collection>

  </resultMap>


  <select id="selectMember" resultMap="memberAccount2">
      SELECT m.serial_num as serial_num,
        m.member_id,
        m.`password`,
        m.password_hint,
        m.password_hint_answer,
        m.reg_date,
        m.image_serial_num,
        ma.serial_num as auth_serial_num,
        ma.authority_type,
        ma.granted_date
          FROM member_account m
            left join  member_authority ma
            on m.serial_num=ma.auth_owner_id
            where m.member_id=#{memberId}
  </select>

</mapper>

