<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.givenness.backend.infrastructure.mapper.MemberMapper">

  <resultMap autoMapping="true" id="memberAccountMap" type="MemberAccount">
    <id column="serial_num" property="serialNum"/>
    <collection autoMapping="true" ofType="MemberAuthority" property="grantedAuthList">
      <id column="auth_serial_num" property="serialNum"/>
    </collection>

  </resultMap>


  <resultMap autoMapping="true" id="volunteerInfoMap" type="VolunteerMemberInfo">
    <id column="serial_num" property="serialNum"/>
    <association autoMapping="true" javaType="ProfileImage" property="profileImage">
      <id column="fi_serial_num" property="serialNum"/>
    </association>
  </resultMap>

  <resultMap autoMapping="true" id="mAdminMap" type="TheMarginalizedAdminMemberInfo">


  </resultMap>


  <select id="selectMember" resultMap="memberAccountMap">
      SELECT m.serial_num as serial_num,
        m.member_id,
        m.`password`,
        m.password_hint,
        m.password_hint_answer,
        m.reg_date,
        ma.serial_num as auth_serial_num,
        ma.authority_type,
        ma.granted_date
          FROM member_account m
            left join  member_authority ma
            on m.serial_num=ma.auth_owner_id
            where m.member_id=#{memberId}
  </select>

  <select id="selectVolunteerInfo" resultMap="volunteerInfoMap">
    select
      m.member_id,


      vm.`name`,
      vm.email,
      vm.address,
      vm.personal_or_organization,
      vm.phone_num,

      fi.serial_num as fi_serial_num,
      fi.file_path,
      fi.file_type,
      fi.file_size
    from volunteer_member vm
      left join member_account m
        on vm.serial_num = m.serial_num
      left join file_info fi
        on m.image_serial_num = fi.serial_num

    where m.member_id = #{memberId}
  </select>

  <select id="selectMAdminInfo" resultMap="mAdminMap">


  </select>


</mapper>

